from google colab import files #匯入套件

import pandas as pd

upload = files.upload() #開啟上傳介面並載入

data = pd.read_csv("剛剛上傳的檔案名稱")

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/112-2_LATIA") # 切換目錄
#!ls -l "/content/gdrive/My Drive/112-2_LATIA" # 列出目錄下的檔案
!ls -l

Mounted at /content/gdrive/
total 95
-rw------- 1 root root 92484 Feb 27 06:25 112_student.csv
-rw------- 1 root root  4562 Feb 27 07:46 week2_0227.ipynb

In [4]:
import pandas as pd

csv_file = './112_student.csv'


columns = [
   "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
   "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
   "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
   "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
]
df = pd.read_csv(csv_file) # 讀取csv檔案
print(df.head())

#查看資料欄位資訊
print(df.info())

#查看資料的統計學資訊描述
#print(df.describe(include='all'))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生學士學制的學校數量
# 新增區段
step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [ ]:
# 請在"填空"處，輸入所需要的指令或參數

df1 = df[['等級別','總計','學校名稱']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print("有招生學士學制的學校數量為", len(df1_1), "\n")
df1_1_sorted = df1_1.sort_values(by=['總計'],ascending = False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)['學校名稱'].values)

本資料集共有 764 筆紀錄
有招生學士學制的學校數量為 97

112學年度在籍的學士生最多人數之學校為 ['淡江大學']

# 2. 國立？所；私立？所

step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts)

In [5]:
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('公立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校代碼')
count = df2['公私立'].value_counts()
print(count)

print(df2)

print(f"本資料集共收集了 {len(df2)}所學校，其中公立：{count['公立']} 所；私立：{count['私立']} 所。")

私立    98
公立    47
Name: 公私立, dtype: int64
     學年度  學校代碼        學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  \
0    112     1      國立政治大學    D 日  D 博士   921   517   404    86    69  ...
4    112     2      國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...
9    112     3      國立臺灣大學    D 日  D 博士  3654  2454  1200   431   215  ...
13   112     4    國立臺灣師範大學    D 日  D 博士  1337   630   707   106   127  ...
17   112     5      國立成功大學    D 日  D 博士  1888  1228   660   219   136  ...
..   ...   ...         ...    ...   ...   ...   ...   ...   ...   ...  ...
753  112  1289  育英醫護管理專科學校    D 日  5 五專  1833   200  1633    39   343  ...
754  112  1291  聖母醫護管理專科學校    D 日  2 二專     2     2     0     0     0  ...
757  112  1292  新生醫護管理專科學校    N 修  2 二專    79    12    67     7    37  ...
759  112  1293  崇仁醫護管理專科學校    D 日  5 五專  3017   460  2557   112   515  ...
760  112  3002      臺北市立大學    D 日  D 博士   208    94   114    17    11  ...

     五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別  公私立
0      52    68    37    66    50     0     0  30 臺北市  1 一般   公立
4      60   110    50   115    56     0     0  18 新竹市  1 一般   公立
9     128   179   106   312   132     0     0  30 臺北市  1 一般   公立
13     83    59    85    87    89     0     0  30 臺北市  3 師範   公立
17     84   107    57   110    48     0     0  21 臺南市  1 一般   公立
..    ...   ...   ...   ...   ...   ...   ...     ...   ...  ...
753   276     0     0     0     0    13    77  50 高雄市  2 技職   私立
754     0     0     0     0     0     2     0  02 宜蘭縣  2 技職   私立
757     0     0     0     0     0     0     1  03 桃園市  2 技職   私立
759   529     0     0     0     0    19    45  10 嘉義縣  2 技職   私立
760    14     6     9    16    25     0     0  30 臺北市  1 一般   公立

[145 rows x 27 columns]
本資料集共收集了 145所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

> [縮排段落](https://)



step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [ ]:
df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。

# 4. 各縣市分別有？所，位於新北市的大專院校總共有幾所

In [ ]:
city_list = []

for i in df['縣市名稱']:
    city_list.append(i[3:])
df['縣市名'] = city_list # 將 Dataframe 新增「縣市名」column
#print(city_list)

df4 = df.drop_duplicates('學校代碼')
count = df4['縣市名'].value_counts()
city_list = df4['縣市名'].unique()
print(f"本資料集共收集了 {len(df4)} 學校，其中：")
for city in city_list:
    print(f"{city}有 {count[city]} 所")

newtaipei = df4[df4['縣市名'] == '新北市']
print('\n',newtaipei['縣市名'].value_counts())

本資料集共收集了 145 學校，其中：
臺北市有 24 所
新竹市有 5 所
臺南市有 13 所
臺中市有 17 所
桃園市有 12 所
高雄市有 15 所
基隆市有 3 所
嘉義縣有 4 所
彰化縣有 4 所
新北市有 20 所
嘉義市有 2 所
花蓮縣有 4 所
南投縣有 2 所
雲林縣有 3 所
屏東縣有 5 所
臺東縣有 2 所
宜蘭縣有 3 所
苗栗縣有 3 所
澎湖縣有 1 所
金門縣有 1 所
新竹縣有 2 所

 新北市    20
Name: 縣市名, dtype: int64

# 5. 北中南東區分別有？所

都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

北部區域：包括臺北市、新北市、基隆市、新竹市、桃園市、新竹縣及宜蘭縣。

中部區域：包括臺中市、苗栗縣、彰化縣、南投縣及雲林縣。

南部區域：包括高雄市、臺南市、嘉義市、嘉義縣、屏東縣及澎湖縣。

東部區域：包括花蓮縣及臺東縣。

福建省：包括金門縣與連江縣。

In [ ]:
city_to_area = {'臺北市':'北部',
         '新北市':'北部',
         '基隆市':'北部',
         '新竹市':'北部',
         '桃園市':'北部',
         '新竹縣':'北部',
         '宜蘭縣':'北部',
         '臺中市':'中部',
         '苗栗縣':'中部',
         '彰化縣':'中部',
         '南投縣':'中部',
         '雲林縣':'中部',
         '高雄市':'南部',
         '臺南市':'南部',
         '嘉義市':'南部',
         '嘉義縣':'南部',
         '屏東縣':'南部',
         '澎湖縣':'南部',
         '花蓮縣':'東部',
         '臺東縣':'東部',
         '金門縣':'福建省'}

df['區域'] = df['縣市名'].map(city_to_area)

df5 = df.drop_duplicates('學校代碼')
count = df5['區域'].value_counts()
#print(count)
print(f"本資料集共收集了 {len(df5)} 所學校，其中：")
print(f"北部區域有 {count['北部']} 所；\n中部區域有 {count['中部']} 所；\n南部區域有 {count['南部']} 所；\n東部區域有 {count['東部']} 所；\n福建省區域有 {count['福建省']} 所。")

本資料集共收集了 145 所學校，其中：
北部區域有 69 所；
中部區域有 29 所；
南部區域有 40 所；
東部區域有 6 所；
福建省區域有 1 所。

# 6. 各體系別分別有？所

In [ ]:
df6 = df.drop_duplicates('學校代碼')
count = df6['體系別'].value_counts()

print(f"本資料集共收集了 {len(df6)} 所學校，其中：技職體系有 {count['2 技職']} 所；一般體系有 {count['1 一般']} 所；師範體系有 {count['3 師範']} 所。")

# 7. 國立/私立與男女比
請問國立大學與私立大學在學男生女生比例為何? 延修生男生女生比例為何?

In [ ]:
# 空白值補零
#df = df.replace('-', 0, regex=True)
#df

count = {}

def create_count_dict(df, count): # 建立多層 dict 結構來儲存各校在學與延修生的男女生數
    df7 = df.drop_duplicates('學校代碼')
    for i in df7['學校名稱']:
        count[i] = {}
        count[i]['在學生'] = {}
        count[i]['在學生']['男生數'] = 0
        count[i]['在學生']['女生數'] = 0
        count[i]['延修生'] = {}
        count[i]['延修生']['男生數'] = 0
        count[i]['延修生']['女生數'] = 0


def count_every_schools_data(df):
    for j in range(len(df)):
        count[df.iloc[j,2]]['在學生']['男生數'] += (int(df.iloc[j,8]) + int(df.iloc[j,10]) + int(df.iloc[j,12]) + int(df.iloc[j,14]) + int(df.iloc[j,16]) + int(df.iloc[j,18]) + int(df.iloc[j,20]))
        count[df.iloc[j,2]]['在學生']['女生數'] += (int(df.iloc[j,9]) + int(df.iloc[j,11]) + int(df.iloc[j,13]) + int(df.iloc[j,15]) + int(df.iloc[j,17]) + int(df.iloc[j,19]) + int(df.iloc[j,21]))
        count[df.iloc[j,2]]['延修生']['男生數'] += int(df.iloc[j,22])
        count[df.iloc[j,2]]['延修生']['女生數'] += int(df.iloc[j,23])

create_count_dict(df, count)
count_every_schools_data(df)

print(count)

{'國立政治大學': {'在學生': {'男生數': 6902, '女生數': 9101}, '延修生': {'男生數': 316, '女生數': 499}}, '國立清華大學': {'在學生': {'男生數': 9909, '女生數': 7765}, '延修生': {'男生數': 296, '女生數': 221}}, '國立臺灣大學': {'在學生': {'男生數': 18995, '女生數': 13453}, '延修生': {'男生數': 801, '女生數': 633}}, '國立臺灣師範大學': {'在學生': {'男生數': 6730, '女生數': 9124}, '延修生': {'男生數': 304, '女生數': 338}}, '國立成功大學': {'在學生': {'男生數': 13909, '女生數': 8505}, '延修生': {'男生數': 441, '女生數': 227}}, '國立中興大學': {'在學生': {'男生數': 8833, '女生數': 6452}, '延修生': {'男生數': 194, '女生數': 118}}, '國立陽明交通大學': {'在學生': {'男生數': 13435, '女生數': 7650}, '延修生': {'男生數': 225, '女生數': 118}}, '國立中央大學': {'在學生': {'男生數': 7764, '女生數': 4504}, '延修生': {'男生數': 134, '女生數': 95}}, '國立中山大學': {'在學生': {'男生數': 5988, '女生數': 4062}, '延修生': {'男生數': 178, '女生數': 118}}, '國立臺灣海洋大學': {'在學生': {'男生數': 5958, '女生數': 2951}, '延修生': {'男生數': 234, '女生數': 71}}, '國立中正大學': {'在學生': {'男生數': 6011, '女生數': 5290}, '延修生': {'男生數': 148, '女生數': 91}}, '國立高雄師範大學': {'在學生': {'男生數': 3101, '女生數': 4083}, '延修生': {'男生數': 111, '女生數': 101}}, '國立彰化師範大學': {'在學生': {'男生數': 4261, '女生數': 4151}, '延修生': {'男生數': 132, '女生數': 67}}, '國立臺北大學': {'在學生': {'男生數': 4552, '女生數': 5288}, '延修生': {'男生數': 162, '女生數': 203}}, '國立嘉義大學': {'在學生': {'男生數': 5786, '女生數': 5510}, '延修生': {'男生數': 190, '女生數': 96}}, '國立高雄大學': {'在學生': {'男生數': 3484, '女生數': 2417}, '延修生': {'男生數': 153, '女生數': 91}}, '國立東華大學': {'在學生': {'男生數': 4650, '女生數': 5174}, '延修生': {'男生數': 282, '女生數': 244}}, '國立暨南國際大學': {'在學生': {'男生數': 2990, '女生數': 3392}, '延修生': {'男生數': 98, '女生數': 76}}, '國立臺灣科技大學': {'在學生': {'男生數': 7885, '女生數': 3581}, '延修生': {'男生數': 145, '女生數': 61}}, '國立雲林科技大學': {'在學生': {'男生數': 6177, '女生數': 3903}, '延修生': {'男生數': 155, '女生數': 103}}, '國立屏東科技大學': {'在學生': {'男生數': 5658, '女生數': 4290}, '延修生': {'男生數': 303, '女生數': 143}}, '國立臺北科技大學': {'在學生': {'男生數': 9527, '女生數': 3783}, '延修生': {'男生數': 243, '女生數': 106}}, '國立臺北藝術大學': {'在學生': {'男生數': 1094, '女生數': 1893}, '延修生': {'男生數': 94, '女生數': 132}}, '國立臺灣藝術大學': {'在學生': {'男生數': 1617, '女生數': 3564}, '延修生': {'男生數': 140, '女生數': 271}}, '國立臺東大學': {'在學生': {'男生數': 2233, '女生數': 2682}, '延修生': {'男生數': 109, '女生數': 97}}, '國立宜蘭大學': {'在學生': {'男生數': 3467, '女生數': 1940}, '延修生': {'男生數': 135, '女生數': 50}}, '國立聯合大學': {'在學生': {'男生數': 5176, '女生數': 2234}, '延修生': {'男生數': 262, '女生數': 39}}, '國立虎尾科技大學': {'在學生': {'男生數': 8868, '女生數': 2483}, '延修生': {'男生數': 296, '女生數': 46}}, '國立臺南藝術大學': {'在學生': {'男生數': 551, '女生數': 1016}, '延修生': {'男生數': 28, '女生數': 43}}, '國立臺南大學': {'在學生': {'男生數': 2512, '女生數': 3304}, '延修生': {'男生數': 82, '女生數': 63}}, '國立臺北教育大學': {'在學生': {'男生數': 1812, '女生數': 4152}, '延修生': {'男生數': 49, '女生數': 82}}, '國立臺中教育大學': {'在學生': {'男生數': 1555, '女生數': 3399}, '延修生': {'男生數': 57, '女生數': 79}}, '國立澎湖科技大學': {'在學生': {'男生數': 1593, '女生數': 962}, '延修生': {'男生數': 110, '女生數': 37}}, '國立勤益科技大學': {'在學生': {'男生數': 8997, '女生數': 3081}, '延修生': {'男生數': 429, '女生數': 96}}, '國立體育大學': {'在學生': {'男生數': 1544, '女生數': 1063}, '延修生': {'男生數': 104, '女生數': 48}}, '國立臺北護理健康大學': {'在學生': {'男生數': 954, '女生數': 4174}, '延修生': {'男生數': 43, '女生數': 104}}, '國立高雄餐旅大學': {'在學生': {'男生數': 1478, '女生數': 2781}, '延修生': {'男生數': 19, '女生數': 25}}, '國立金門大學': {'在學生': {'男生數': 2038, '女生數': 1830}, '延修生': {'男生數': 116, '女生數': 66}}, '國立臺灣體育運動大學': {'在學生': {'男生數': 1753, '女生數': 1224}, '延修生': {'男生數': 120, '女生數': 52}}, '國立臺中科技大學': {'在學生': {'男生數': 5047, '女生數': 10343}, '延修生': {'男生數': 240, '女生數': 359}}, '國立臺北商業大學': {'在學生': {'男生數': 2228, '女生數': 4515}, '延修生': {'男生數': 112, '女生數': 144}}, '國立屏東大學': {'在學生': {'男生數': 3642, '女生數': 4960}, '延修生': {'男生數': 142, '女生數': 115}}, '國立高雄科技大學': {'在學生': {'男生數': 17081, '女生數': 9684}, '延修生': {'男生數': 782, '女生數': 236}}, '國立臺灣戲曲學院': {'在學生': {'男生數': 179, '女生數': 298}, '延修生': {'男生數': 10, '女生數': 14}}, '國立臺南護理專科學校': {'在學生': {'男生數': 202, '女生數': 1762}, '延修生': {'男生數': 2, '女生數': 17}}, '國立臺東專科學校': {'在學生': {'男生數': 432, '女生數': 227}, '延修生': {'男生數': 18, '女生數': 9}}, '東海大學': {'在學生': {'男生數': 6877, '女生數': 8107}, '延修生': {'男生數': 316, '女生數': 282}}, '輔仁大學': {'在學生': {'男生數': 9797, '女生數': 14580}, '延修生': {'男生數': 601, '女生數': 654}}, '東吳大學': {'在學生': {'男生數': 5886, '女生數': 8636}, '延修生': {'男生數': 319, '女生數': 368}}, '中原大學': {'在學生': {'男生數': 8343, '女生數': 7517}, '延修生': {'男生數': 521, '女生數': 315}}, '淡江大學': {'在學生': {'男生數': 11350, '女生數': 9964}, '延修生': {'男生數': 871, '女生數': 489}}, '中國文化大學': {'在學生': {'男生數': 8523, '女生數': 8559}, '延修生': {'男生數': 1555, '女生數': 1229}}, '逢甲大學': {'在學生': {'男生數': 12114, '女生數': 8558}, '延修生': {'男生數': 561, '女生數': 208}}, '靜宜大學': {'在學生': {'男生數': 4016, '女生數': 6336}, '延修生': {'男生數': 292, '女生數': 343}}, '長庚大學': {'在學生': {'男生數': 3333, '女生數': 3620}, '延修生': {'男生數': 75, '女生數': 75}}, '元智大學': {'在學生': {'男生數': 4781, '女生數': 3589}, '延修生': {'男生數': 242, '女生數': 151}}, '中華大學': {'在學生': {'男生數': 2422, '女生數': 1151}, '延修生': {'男生數': 237, '女生數': 88}}, '大葉大學': {'在學生': {'男生數': 2318, '女生數': 1928}, '延修生': {'男生數': 215, '女生數': 100}}, '華梵大學': {'在學生': {'男生數': 443, '女生數': 556}, '延修生': {'男生數': 16, '女生數': 8}}, '義守大學': {'在學生': {'男生數': 5666, '女生數': 5372}, '延修生': {'男生數': 436, '女生數': 247}}, '世新大學': {'在學生': {'男生數': 3755, '女生數': 6798}, '延修生': {'男生數': 176, '女生數': 191}}, '銘傳大學': {'在學生': {'男生數': 6588, '女生數': 10093}, '延修生': {'男生數': 430, '女生數': 387}}, '實踐大學': {'在學生': {'男生數': 3286, '女生數': 6622}, '延修生': {'男生數': 350, '女生數': 496}}, '朝陽科技大學': {'在學生': {'男生數': 5642, '女生數': 6980}, '延修生': {'男生數': 357, '女生數': 254}}, '高雄醫學大學': {'在學生': {'男生數': 2684, '女生數': 3825}, '延修生': {'男生數': 43, '女生數': 69}}, '南華大學': {'在學生': {'男生數': 2089, '女生數': 2604}, '延修生': {'男生數': 131, '女生數': 70}}, '真理大學': {'在學生': {'男生數': 1556, '女生數': 1455}, '延修生': {'男生數': 161, '女生數': 109}}, '大同大學': {'在學生': {'男生數': 2175, '女生數': 1255}, '延修生': {'男生數': 128, '女生數': 45}}, '南臺科技大學': {'在學生': {'男生數': 8307, '女生數': 5740}, '延修生': {'男生數': 580, '女生數': 290}}, '崑山科技大學': {'在學生': {'男生數': 4857, '女生數': 3011}, '延修生': {'男生數': 370, '女生數': 175}}, '嘉南藥理大學': {'在學生': {'男生數': 3780, '女生數': 5273}, '延修生': {'男生數': 169, '女生數': 174}}, '樹德科技大學': {'在學生': {'男生數': 3618, '女生數': 4404}, '延修生': {'男生數': 262, '女生數': 169}}, '慈濟大學': {'在學生': {'男生數': 1093, '女生數': 1653}, '延修生': {'男生數': 34, '女生數': 55}}, '臺北醫學大學': {'在學生': {'男生數': 2499, '女生數': 3539}, '延修生': {'男生數': 42, '女生數': 74}}, '中山醫學大學': {'在學生': {'男生數': 2407, '女生數': 4473}, '延修生': {'男生數': 75, '女生數': 130}}, '龍華科技大學': {'在學生': {'男生數': 7610, '女生數': 2824}, '延修生': {'男生數': 500, '女生數': 188}}, '輔英科技大學': {'在學生': {'男生數': 1989, '女生數': 6024}, '延修生': {'男生數': 153, '女生數': 296}}, '明新科技大學': {'在學生': {'男生數': 5453, '女生數': 3682}, '延修生': {'男生數': 500, '女生數': 259}}, '長榮大學': {'在學生': {'男生數': 2679, '女生數': 2693}, '延修生': {'男生數': 161, '女生數': 121}}, '弘光科技大學': {'在學生': {'男生數': 3662, '女生數': 7363}, '延修生': {'男生數': 276, '女生數': 294}}, '中國醫藥大學': {'在學生': {'男生數': 3051, '女生數': 4156}, '延修生': {'男生數': 67, '女生數': 75}}, '健行科技大學': {'在學生': {'男生數': 5383, '女生數': 3423}, '延修生': {'男生數': 430, '女生數': 165}}, '正修科技大學': {'在學生': {'男生數': 9217, '女生數': 5590}, '延修生': {'男生數': 491, '女生數': 189}}, '萬能科技大學': {'在學生': {'男生數': 4059, '女生數': 3239}, '延修生': {'男生數': 259, '女生數': 177}}, '玄奘大學': {'在學生': {'男生數': 564, '女生數': 912}, '延修生': {'男生數': 33, '女生數': 42}}, '建國科技大學': {'在學生': {'男生數': 2427, '女生數': 1114}, '延修生': {'男生數': 240, '女生數': 73}}, '明志科技大學': {'在學生': {'男生數': 3005, '女生數': 1180}, '延修生': {'男生數': 123, '女生數': 19}}, '高苑科技大學': {'在學生': {'男生數': 714, '女生數': 405}, '延修生': {'男生數': 94, '女生數': 22}}, '大仁科技大學': {'在學生': {'男生數': 1504, '女生數': 2137}, '延修生': {'男生數': 123, '女生數': 99}}, '聖約翰科技大學': {'在學生': {'男生數': 350, '女生數': 153}, '延修生': {'男生數': 74, '女生數': 30}}, '嶺東科技大學': {'在學生': {'男生數': 3441, '女生數': 4886}, '延修生': {'男生數': 204, '女生數': 150}}, '中國科技大學': {'在學生': {'男生數': 2825, '女生數': 2937}, '延修生': {'男生數': 253, '女生數': 196}}, '中臺科技大學': {'在學生': {'男生數': 1933, '女生數': 4082}, '延修生': {'男生數': 146, '女生數': 179}}, '亞洲大學': {'在學生': {'男生數': 3758, '女生數': 6671}, '延修生': {'男生數': 228, '女生數': 201}}, '開南大學': {'在學生': {'男生數': 1979, '女生數': 1890}, '延修生': {'男生數': 185, '女生數': 140}}, '佛光大學': {'在學生': {'男生數': 1214, '女生數': 1416}, '延修生': {'男生數': 85, '女生數': 49}}, '台南應用科技大學': {'在學生': {'男生數': 2676, '女生數': 6680}, '延修生': {'男生數': 152, '女生數': 152}}, '遠東科技大學': {'在學生': {'男生數': 1377, '女生數': 551}, '延修生': {'男生數': 157, '女生數': 46}}, '元培醫事科技大學': {'在學生': {'男生數': 1424, '女生數': 2276}, '延修生': {'男生數': 193, '女生數': 112}}, '景文科技大學': {'在學生': {'男生數': 1981, '女生數': 2262}, '延修生': {'男生數': 187, '女生數': 169}}, '中華醫事科技大學': {'在學生': {'男生數': 1964, '女生數': 5154}, '延修生': {'男生數': 96, '女生數': 132}}, '東南科技大學': {'在學生': {'男生數': 2109, '女生數': 1225}, '延修生': {'男生數': 212, '女生數': 101}}, '德明財經科技大學': {'在學生': {'男生數': 2109, '女生數': 2786}, '延修生': {'男生數': 338, '女生數': 310}}, '明道大學': {'在學生': {'男生數': 364, '女生數': 290}, '延修生': {'男生數': 28, '女生數': 14}}, '南開科技大學': {'在學生': {'男生數': 1663, '女生數': 778}, '延修生': {'男生數': 94, '女生數': 31}}, '中華科技大學': {'在學生': {'男生數': 2118, '女生數': 915}, '延修生': {'男生數': 130, '女生數': 42}}, '僑光科技大學': {'在學生': {'男生數': 4130, '女生數': 3804}, '延修生': {'男生數': 256, '女生數': 124}}, '育達科技大學': {'在學生': {'男生數': 1254, '女生數': 1567}, '延修生': {'男生數': 140, '女生數': 77}}, '美和科技大學': {'在學生': {'男生數': 1280, '女生數': 3443}, '延修生': {'男生數': 50, '女生數': 113}}, '吳鳳科技大學': {'在學生': {'男生數': 2277, '女生數': 1418}, '延修生': {'男生數': 67, '女生數': 20}}, '環球科技大學': {'在學生': {'男生數': 431, '女生數': 450}, '延修生': {'男生數': 80, '女生數': 57}}, '修平科技大學': {'在學生': {'男生數': 2679, '女生數': 959}, '延修生': {'男生數': 165, '女生數': 29}}, '長庚科技大學': {'在學生': {'男生數': 679, '女生數': 5400}, '延修生': {'男生數': 10, '女生數': 24}}, '臺北城市科技大學': {'在學生': {'男生數': 4723, '女生數': 2925}, '延修生': {'男生數': 427, '女生數': 189}}, '敏實科技大學': {'在學生': {'男生數': 420, '女生數': 266}, '延修生': {'男生數': 12, '女生數': 4}}, '醒吾科技大學': {'在學生': {'男生數': 2412, '女生數': 3428}, '延修生': {'男生數': 129, '女生數': 131}}, '文藻外語大學': {'在學生': {'男生數': 1792, '女生數': 4825}, '延修生': {'男生數': 202, '女生數': 443}}, '華夏科技大學': {'在學生': {'男生數': 1040, '女生數': 455}, '延修生': {'男生數': 92, '女生數': 63}}, '慈濟科技大學': {'在學生': {'男生數': 600, '女生數': 2137}, '延修生': {'男生數': 43, '女生數': 56}}, '致理科技大學': {'在學生': {'男生數': 3520, '女生數': 6823}, '延修生': {'男生數': 283, '女生數': 325}}, '康寧大學': {'在學生': {'男生數': 705, '女生數': 2396}, '延修生': {'男生數': 36, '女生數': 106}}, '宏國德霖科技大學': {'在學生': {'男生數': 2225, '女生數': 1505}, '延修生': {'男生數': 182, '女生數': 78}}, '東方設計大學': {'在學生': {'男生數': 127, '女生數': 139}, '延修生': {'男生數': 52, '女生數': 27}}, '崇右影藝科技大學': {'在學生': {'男生數': 470, '女生數': 579}, '延修生': {'男生數': 48, '女生數': 48}}, '台北海洋科技大學': {'在學生': {'男生數': 2025, '女生數': 1565}, '延修生': {'男生數': 126, '女生數': 59}}, '亞東科技大學': {'在學生': {'男生數': 2432, '女生數': 1301}, '延修生': {'男生數': 98, '女生數': 25}}, '中信金融管理學院': {'在學生': {'男生數': 510, '女生數': 435}, '延修生': {'男生數': 10, '女生數': 2}}, '大漢技術學院': {'在學生': {'男生數': 325, '女生數': 246}, '延修生': {'男生數': 18, '女生數': 12}}, '南亞技術學院': {'在學生': {'男生數': 893, '女生數': 1009}, '延修生': {'男生數': 63, '女生數': 34}}, '黎明技術學院': {'在學生': {'男生數': 2521, '女生數': 1933}, '延修生': {'男生數': 179, '女生數': 109}}, '德育護理健康學院': {'在學生': {'男生數': 824, '女生數': 2404}, '延修生': {'男生數': 111, '女生數': 115}}, '大同技術學院': {'在學生': {'男生數': 45, '女生數': 87}, '延修生': {'男生數': 5, '女生數': 8}}, '馬偕醫學院': {'在學生': {'男生數': 314, '女生數': 576}, '延修生': {'男生數': 6, '女生數': 7}}, '法鼓文理學院': {'在學生': {'男生數': 103, '女生數': 259}, '延修生': {'男生數': 0, '女生數': 1}}, '馬偕醫護管理專科學校': {'在學生': {'男生數': 603, '女生數': 3333}, '延修生': {'男生數': 25, '女生數': 119}}, '仁德醫護管理專科學校': {'在學生': {'男生數': 1304, '女生數': 4182}, '延修生': {'男生數': 109, '女生數': 247}}, '樹人醫護管理專科學校': {'在學生': {'男生數': 1535, '女生數': 5477}, '延修生': {'男生數': 72, '女生數': 157}}, '慈惠醫護管理專科學校': {'在學生': {'男生數': 440, '女生數': 1523}, '延修生': {'男生數': 49, '女生數': 143}}, '耕莘健康管理專科學校': {'在學生': {'男生數': 371, '女生數': 3416}, '延修生': {'男生數': 38, '女生數': 219}}, '敏惠醫護管理專科學校': {'在學生': {'男生數': 468, '女生數': 2965}, '延修生': {'男生數': 37, '女生數': 103}}, '育英醫護管理專科學校': {'在學生': {'男生數': 187, '女生數': 1556}, '延修生': {'男生數': 13, '女生數': 77}}, '聖母醫護管理專科學校': {'在學生': {'男生數': 231, '女生數': 1193}, '延修生': {'男生數': 30, '女生數': 66}}, '新生醫護管理專科學校': {'在學生': {'男生數': 750, '女生數': 5181}, '延修生': {'男生數': 24, '女生數': 102}}, '崇仁醫護管理專科學校': {'在學生': {'男生數': 441, '女生數': 2512}, '延修生': {'男生數': 19, '女生數': 45}}, '臺北市立大學': {'在學生': {'男生數': 2963, '女生數': 4772}, '延修生': {'男生數': 172, '女生數': 154}}}

# 8. 國立大學在學生男女比

In [ ]:
public_current_male = 0
public_current_female = 0

df7_1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_1)):
    if df7_1.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學生']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學生']['女生數']

ratio = public_current_male/public_current_female*100 # 男女比計算公式
print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

ZeroDivisionError: division by zero

 # 9. 每校平均最多與最少人的體系

In [ ]:
df11 = df.drop_duplicates('學校代碼')
system_count = df11['體系別'].value_counts()

system_list = list(df['體系別'].unique())
count_student = 0
result_dict = {}

for system in system_list:
    for i in range(len(df)):
        if df.loc[i,'體系別'] == system:
            count_student += int(df.loc[i, '總計'])
    result_dict[system[2:]] = count_student/system_count[system]
    count_student = 0

max_value = max(result_dict.values())
min_value = min(result_dict.values())
max_key = next(key for key, value in result_dict.items() if value == max_value)
min_key = next(key for key, value in result_dict.items() if value == min_value)

print(f"每校平均最多人的是{max_key}體系，平均每校 {round(max_value,2)} 人；")
print(f"每校平均最少人的是{min_key}體系，平均每校 {round(min_value,2)} 人。")

# 10. 將新增的欄位寫入並儲存成新的CSV檔案，並命名為112_students_tf.csv

新增的欄位有"公私立"，"縣市名"，"區域"

In [ ]:
all_male = 0
all_female = 0

df7 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7)):
   # if df1.loc[i,'公私立'] == '國立':
        all_male += count[df7.loc[i,'學校名稱']]['在學生']['男生數']
        all_female += count[df7.loc[i,'學校名稱']]['在學生']['女生數']

ratio = all_male/all_female*100 # 男女比計算公式
print(f'所有大學學生男女比：{ratio} ≑ {round(ratio,2)}') # 四捨五入至小數點後兩位

#數據
labels = ['男生', '女生']
sizes = [all_male, all_female]
colors = ['lightblue', 'pink']
explode = (0, 0.05)

#繪製圓餅圖
plt.pie(sizes, explode=explode, labels=labels, colors=colors, autopct='%1.1f%%', startangle=140)
plt.axis('equal')  # 使圓餅圖為等比例
plt.title('所有學校學生的男女比例')
plt.show()

#[自出題]1.各校男女學生比值

In [15]:
grouped = df.groupby('學校名稱').sum()


grouped['男女學生比值'] = grouped['男生計'] / grouped['女生計']

# 打印结果
print(grouped)

            學年度  學校代碼     總計    男生計   女生計  一年級男  一年級女  二年級男  二年級女  三年級男  ...  \
學校名稱                                                                     ...
世新大學        560  5075  10920   3931  6989   938  1840   953  1671   914  ...
中信金融管理學院    336  3375    957    520   437   160   166   117   109   131  ...
中原大學        448  4016  16696   8864  7832  2260  1995  2273  1945  1864  ...
中國文化大學      672  6036  19866  10078  9788  1731  1697  1628  1722  2345  ...
中國科技大學      672  6276   6211   3078  3133   599   597   647   727   845  ...
...         ...   ...    ...    ...   ...   ...   ...   ...   ...   ...  ...
馬偕醫護管理專科學校  224  2564   4080    628  3452   162   740   150   735   142  ...
高苑科技大學      784  7294   1235    808   427    67    23   152    74   235  ...
高雄醫學大學      448  4076   6621   2727  3894   619  1033   643   945   565  ...
黎明技術學院      560  5915   4742   2700  2042   771   573   602   448   580  ...
龍華科技大學      784  7210  11122   8110  3012  2096   768  1825   687  1793  ...

            四年級女  五年級男  五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    男女學生比值
學校名稱
世新大學        1582    31    26    36    16     4     3   176   191  0.562455
中信金融管理學院      80     0     0     0     0     0     0    10     2  1.189931
中原大學        1643   116   129    45    29    26     8   521   315  1.131767
中國文化大學      2441   190   149   177   133    92    65  1555  1229  1.029628
中國科技大學       806     0     0     0     0     0     0   253   196  0.982445
...          ...   ...   ...   ...   ...   ...   ...   ...   ...       ...
馬偕醫護管理專科學校   582    67   582     0     0     0     0    25   119  0.181924
高苑科技大學       159     0     0     1     0     0     0    94    22  1.892272
高雄醫學大學       784   207   157   165    94     6    12    43    69  0.700308
黎明技術學院       446    29     8     0     0     0     0   179   109  1.322233
龍華科技大學       740   126    16     0     0     0     0   500   188  2.692563

[145 rows x 22 columns]

<ipython-input-15-c2cef88ed75e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('學校名稱').sum()

# [自出題]2.公立與私立學校的總人數差距

In [12]:
total_students_by_type = df.groupby('公私立')['總計'].sum()

# 計算總人數差距
difference = total_students_by_type['私立'] - total_students_by_type['公立']

print("公立與私立學校的總人數差距為:",difference,"人")

公立與私立學校的總人數差距為: 176015 人

#[自出題]3.台灣師範大學的學生人數

In [23]:
# 找出台灣師範大學的資料列
ntnu_data = df[df['學校名稱'] == '國立臺灣師範大學']
print(ntnu_data)
# 計算學生總人數
total_students = ntnu_data.groupby('等級別')['總計'].sum().sum()

print("台灣師範大學的學生總人數為:", total_students)

    學年度  學校代碼      學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
13  112     4  國立臺灣師範大學    D 日  D 博士  1337   630   707   106   127  ...    85
14  112     4  國立臺灣師範大學    D 日  M 碩士  4384  1878  2506   628   826  ...     0
15  112     4  國立臺灣師範大學    N 職  M 碩士  2272   680  1592   222   518  ...    48
16  112     4  國立臺灣師範大學    D 日  B 學士  8503  3846  4657   938  1110  ...     0

    五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
13    83    59    85    87    89     0     0  30 臺北市  3 師範
14     0     0     0     0     0     0     0  30 臺北市  3 師範
15   102    29    63     0     0     0     0  30 臺北市  3 師範
16     0     0     0     0     0   304   338  30 臺北市  3 師範

[4 rows x 26 columns]
台灣師範大學的學生總人數為: 16496